.datapage {
  
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px #000;
    border-radius: 15px;
    margin: 1em;

    &_stats{
      margin-left: 10em;
    }

    &_stats_column{
      background-color: #fff;
      width: 255px;
      height: 15px;
      border-radius: 4px;
    }

    &_stats_line{
      height: 15px;
      background-color: #cf302a;
      border-radius: 4px;
    }

    &_title{
      margin: 1em;
      text-align: center;
    }

    &_images{
      width: 400px;
      height: 400px;

      & img{
        width: 100%;
      }
    }

    &_info {
      display: flex;
      margin: 1em;
    }

    &_text{
      & td {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    & th,td{
      text-align: right;
      padding: 0.7em 0.3em ;
    }

    &_return{
      display: flex;
      justify-content: center;
    }

    &_button{
      background-color: #9e3733;
      border: solid 2px #000000;
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffff;
      border-radius: 5px;
      padding: 1em 2em;
      margin-top: 1em;
      margin-bottom: 2em;

      &:hover{
        background-color: #cf302a;
      }
    }
  }
}

.bug-bg {
  background-color: rgba(198, 209, 110, 0.5);
}

.dark-bg {
  background-color: rgba(162, 146, 136, 0.5);
}

.dragon-bg {
  background-color: rgba(162, 125, 250, 0.5);
}

.electric-bg {
  background-color: rgba(250, 224, 120, 0.5);
}

.fairy-bg {
  background-color: rgba(244, 189, 201, 0.5);
}

.fighting-bg {
  background-color: rgba(214, 120, 115, 0.5);
}

.fire-bg {
  background-color: rgba(245, 172, 120, 0.5);
}

.flying-bg {
  background-color: rgba(156, 154, 160, 0.5);
}

.ghost-bg {
  background-color: rgba(162, 146, 188, 0.5);
}

.grass-bg {
  background-color: rgba(167, 219, 141, 0.5);
}

.ground-bg {
  background-color: rgba(235, 214, 157, 0.5);
}

.ice-bg {
  background-color: rgba(188, 230, 230, 0.5);
}
.normal-bg {
  background-color: rgba(198, 198, 167, 0.5);
}

.poison-bg {
  background-color: rgba(209, 114, 176, 0.5);
}

.psychic-bg {
  background-color: rgba(250, 146, 178, 0.5);
}

.rock-bg {
  background-color: rgba(209, 193, 125, 0.5);
}

.steel-bg {
  background-color: rgba(209, 209, 224, 0.5);
}

.water-bg {
  background-color: rgba(157, 183, 245, 0.5);
}